
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}


.box {
  height: 10px;
  width: 200px;
  background: repeating-linear-gradient(to right, transparent, transparent 3px, #000 3px, #000 8px);
  animation: shine 1s infinite linear;
  overflow: hidden;
}
.content {
  height: 128px;
  margin: 1px; padding: 10px;
  background-color: #fff;    
}
@keyframes shine {
  0% { background-position: -1px -1px;}
  100% { background-position: -10px -10px;}
}